@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

header > p {
    margin-top: 40px;
}

