@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 50px 0px 50px 0px;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

header > h1 {
    font-size: clamp(4vw, 8vw, 70px);
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0px 0 10px 0;
}

header > p {
    margin: 0;
    font-size: 1.2em;
}

header > p > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header > p > a:hover {
    text-decoration: underline;
}

body > p {
    font-size: clamp(1.5vw, 3.5vw, 36px);
    line-height: 2em;
    font-family: '', cursive;
    margin: 40px 0px 80px 40px;
    font-weight: bold;
}

p.primeiro {
    margin-top: 80px;
}

p.menos {
    margin-bottom: 40px;
}

main.flor {
    background: #000000 url(d012/imagens/background001.jpg) no-repeat right center fixed;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    padding: 10vh 0px 10vh 0px;
    box-shadow: #000000 0px 0px 20px 1px inset;
}

main.flor > p {
    margin: 0px 0px 0px 30px;
    font-size: clamp(1.5vw, 3.5vw, 36px);
    padding: 20px 10px 20px 10px;
    line-height: 2.0em;
    font-family: '', cursive;
    background-color: rgba(0, 0, 0, 0.499);
    display: inline-block;
}

main.folha {
    background: #000000 url(d012/imagens/background002.jpg) no-repeat left center fixed;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    padding: 10vh 0px 10vh 0px;
    box-shadow: #000000 0px 0px 20px 1px inset;
}

main.folha > p {
    margin: 0px 0px 0px 30px;
    font-size: clamp(1.5vw, 3.5vw, 36px);
    padding: 20px 10px 20px 10px;
    line-height: 2.0em;
    font-family: '', cursive;
    background-color: rgba(0, 0, 0, 0.499);
    display: inline-block;
}

footer {
    background-color: #000000;
    padding: 10px 0px 10px 0px;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

footer > p {
    margin: 0;
    font-size: clamp(1.4vw, 3vw, 30px);
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 300;
}

footer > p > a {
    color: #ffffff;
    text-decoration: none;
    font-size: clamp(1.4vw, 3vw, 30px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}